<html>
  <head>
    <meta charset="utf-8">
    <title>Редактирование</title>
    
  </head>
  <body>

    <h2>Редактирование заданий</h2>

   <form action = "?/task/update/id/{{taskToEdit.id}}/" method = 'POST'>
		<b>Текст:</b> <input type ='text' name='description' size = '50' value ='{{taskToEdit.description}}' > <b>Статус:</b>
		<select name="is_done">
		{%if taskToEdit.is_done == 0 %}
            <option value="{{taskToEdit.is_done}}"><span style='color: orange;'>В процессе</span></option>
            <option value="1">Выполнено</option>
			{%else%}
			<option value="{{taskToEdit.is_done}}"><span style='color: green;'>Выполнено</span></option>
            <option value="0">В процессе</option>
			{%endif%}
           </select>
		
		<input type="submit" name="change" value="Изменить" />
	</form>
	
	<p style ="color: blue; font-size:20px;"><a href="?/task/list">Или вернуться к списку заданий</p>
	</body>
</html>
